<mat-toolbar color="primary">
  <span>Ranking System</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="add()">Add</button>
</mat-toolbar>
<div class="contain">
  <div *ngFor="let p of post | paginate: { itemsPerPage: 6, currentPage: page,totalItems:totalLength }" class="card">
    <img [src]="p.imgUrl" alt="Person" class="card__image">
    <p class="card__name">{{p.name}}</p>
    <div class="grid-container">

      <div class="grid-child-posts">
        {{p.date | date}}
      </div>

      <div class="grid-child-followers">
        {{p.points}}
      </div>

      <div class="grid-child-followers">
        {{p.position}}
      </div>

    </div>
    <button class="btn draw-border" (click)="addPoints(p,p.id)">Like</button>
  </div>
</div>
<div class="paginate">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>


